# Files and directories created by pub.
.dart_tool/
.packages
pubspec.lock
.vscode/
.mason/
doc/**

# Conventional directory for build output.
assets/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled binaries
*.exe
*.app
*.dmg

# Compiled Dynamic libraries
*.o
*.lib
vcpkg/*vcpkg*